@accentColor: #0094ff;
@errorColor: #ff0000;
@inputHeight: 25pt;

* {
    margin: auto;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 12pt;
}

h1 {
    color: @accentColor;
    font-weight: normal;
    font-size: 3em;
}

.clear {
    clear: both;
}

.field-validation-error {
color: @errorColor;
font-size: 0.8em;
}

#userBlock {
    position: fixed;
    right: 10pt;
    top: 10pt;
}

#loginPanel {
    width: 300pt;
}

#loginPanel label {
    font-size: 1.5em;
    line-height: 1.5em;
}

#loginPanel input[type="email"], #loginPanel input[type="password"] {
    width: 100%;
    height: @inputHeight;
    font-size: 14pt;
    margin: 5pt, 0;
}

#loginPanel input[type="checkbox"] {
    width: 20pt;
    height: 20pt;
    position: relative;
    top: 3pt;
    margin-top: 5pt;
}

#loginPanel input[type="submit"] {
    float: right;
}

#searchBlock {
    width: 372pt;
    margin: 20pt auto ;
}

#searchBlock input[type="search"] {
    width: 300pt;
    height: @inputHeight;
    font-size: 14pt;
    border: 2px solid @accentColor;
}

#searchBlock input[type="submit"], #loginPanel input[type="submit"] {
    width: 60pt;
    height: @inputHeight + 2pt;
    position: relative;
    top: 2pt;
    font-size: 14pt;
    background: none;
    border: 2px solid @accentColor;
    color: @accentColor;
    margin: 0 0 0 5pt;
    padding: 6pt;
}


#rssBlock {
    width: 80%;

}